TestRunner/Service References/TestRunnerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TestRunnerService" />
  <xs:element name="StartTesting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testConfigFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTestingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartTestingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestingStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testConfigFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestingStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestRunnerService" minOccurs="0" name="GetTestingStatusResult" type="q1:TestingStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestingResultsFilePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testingRunID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestingResultsFilePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestingResultsFilePathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>