TestRunner/Service References/TestRunnerService/TestRunnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestRunnerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/TestRunnerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/TestRunnerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/TestRunnerService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestRunnerService_StartTesting_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTesting" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_StartTesting_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTestingResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetTestingStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestingStatus" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetTestingStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestingStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetProcessOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessOutput" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetProcessOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetProcessError_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessError" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetProcessError_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetProcessConfigFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessConfigFilePath" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetProcessConfigFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessConfigFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetAllConfigFilePaths_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConfigFilePaths" />
  </wsdl:message>
  <wsdl:message name="ITestRunnerService_GetAllConfigFilePaths_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllConfigFilePathsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestRunnerService">
    <wsdl:operation name="StartTesting">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRunnerService/StartTesting" message="tns:ITestRunnerService_StartTesting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRunnerService/StartTestingResponse" message="tns:ITestRunnerService_StartTesting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestingStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRunnerService/GetTestingStatus" message="tns:ITestRunnerService_GetTestingStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRunnerService/GetTestingStatusResponse" message="tns:ITestRunnerService_GetTestingStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRunnerService/GetProcessOutput" message="tns:ITestRunnerService_GetProcessOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRunnerService/GetProcessOutputResponse" message="tns:ITestRunnerService_GetProcessOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessError">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRunnerService/GetProcessError" message="tns:ITestRunnerService_GetProcessError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRunnerService/GetProcessErrorResponse" message="tns:ITestRunnerService_GetProcessError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessConfigFilePath">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRunnerService/GetProcessConfigFilePath" message="tns:ITestRunnerService_GetProcessConfigFilePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRunnerService/GetProcessConfigFilePathResponse" message="tns:ITestRunnerService_GetProcessConfigFilePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConfigFilePaths">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestRunnerService/GetAllConfigFilePaths" message="tns:ITestRunnerService_GetAllConfigFilePaths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestRunnerService/GetAllConfigFilePathsResponse" message="tns:ITestRunnerService_GetAllConfigFilePaths_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestRunnerService" type="tns:ITestRunnerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartTesting">
      <soap:operation soapAction="http://tempuri.org/ITestRunnerService/StartTesting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestingStatus">
      <soap:operation soapAction="http://tempuri.org/ITestRunnerService/GetTestingStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessOutput">
      <soap:operation soapAction="http://tempuri.org/ITestRunnerService/GetProcessOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessError">
      <soap:operation soapAction="http://tempuri.org/ITestRunnerService/GetProcessError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessConfigFilePath">
      <soap:operation soapAction="http://tempuri.org/ITestRunnerService/GetProcessConfigFilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConfigFilePaths">
      <soap:operation soapAction="http://tempuri.org/ITestRunnerService/GetAllConfigFilePaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestRunnerService">
    <wsdl:port name="BasicHttpBinding_ITestRunnerService" binding="tns:BasicHttpBinding_ITestRunnerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TestRunnerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>